.conteiner {
  padding: 0px 150px;
}

body {
  margin: 0;
  background-color: black;
}

a,
p,
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

h1 {
  font-size: 45px;
  color: white;
}


/* Шапка */

header {
  height: 150px;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.header_a,
.img_header,
.ml-auto {
  display: flex;
  align-items: center;
}

.header_a a {
  font-size: 30px;
  color: white;
  background-color: #c44431;
  padding: 17px 25px;
  margin-left: 10px;
  border-radius: 15px;
}

.ml-auto a {
  font-size: 30px;
  color: white;
  background-color: #96200e;
  padding: 17px 25px;
  margin-left: 10px;
  border-radius: 15px;
}

/* Регистрация и авторизация */

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form p label {
  font-size: 30px;
  color: white;
  background-color: #96200e;
  padding: 17px 25px;
  border-radius: 15px;
}

form p input {
  height: 45px;
  width: 350px;
  font-size: 30px;
  color: #96200e;
  border-radius: 15px;
  padding: 7px;
  margin: 25px 0px 45px 0px;
}

.remember_me{
  width: 50px;
  margin: 25px 0px 45px 0px;
}